# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# JupyterLab settings
.jupyter/
.lab/

# Environments
.env
.venv/
env/
venv/

# Datasets
*.tsv
*.xls
*.xlsx
*.json
*.zip
*.rar

# Output files
*.joblib
*.h5
*.hdf5
*.db
*.sqlite

# Logs and temporary files
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db

# Notebook exports
*.html
*.pdf

# Ignore all CSVs...
*.csv

# ...but keep specific ones
!data/processed/train_split.csv
!data/processed/test_split.csv
